h1 {
  font-family: 'Dawning of a New Day', cursive;
  color: gray;
  font-size: 70pt;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0px;
}

h2 {
  font-family: 'Sacramento', cursive;
  color: gray;
  font-size: 12pt;
  text-align: center;
  margin: 10px;
  margin-bottom: 30px;
}

h3 {
  font-family: 'Dawning of a New Day', cursive;
  color: gray;
  font-size: 15pt;
  text-align: center;
  display: inline;
  padding-left: 15px;
  padding-right: 15px;
}

p {
  font-family: 'EB Garamond', serif;
  color: gray;
  font-size: 12pt;
  margin-top: 0px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}

.container {
  margin-left: 10%;
  margin-right: 10%;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "banner banner banner banner"
    "c1 c2 c3 c4"
    ;
}

.container2 {
  margin-left: 10%;
  margin-right: 10%;
  background-color: white;
  display: grid;
  grid-template-columns: .25fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "banner banner"
    "o1 o2"
    ;
}

.top {
  grid-area: banner;
}

.nav {
  text-align: center;
  margin-bottom: 30px;
  margin-top: -27px;
  margin-left: 100px;
  margin-right: 310px;
}

.c1 {
  grid-area: c1;
  padding: 10px;
}

.c2 {
  grid-area: c2;
  padding: 10px;
}

.c3 {
  grid-area: c3;
  padding: 10px;
}

.c4 {
  grid-area: c4;
  padding: 10px;
}

.o1 {
  grid-area: o1;
  padding: 10px;
}

.o2 {
  grid-area: o2;
  padding: 10px;
}

.pic {
  width: 100%;
  margin-bottom: 7px;
  box-shadow: 3px 3px 5px grey;
}

.current {
  color: black;
  text-decoration: underline;
}
